*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}

 body {
    font-family: Arial, sans-serif;
    
    display: flex;
    justify-content: right;
    align-items:center;
    height: 100vh;
    margin: 0;
    background: url(/new/index.jpg);
    background-position: center;
    background-size: cover;
}

.login-container {
   
    width: 100%;
    max-width: 400px;
    width: 100%;
    height: 50%;
    background: transparent;
    border: none;
    outline: none;
    /* border: 2px solid rgba(11, 12, 11, 0.911); */
    border-radius: 40px;
}

.login-form h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #ffffff;

}

.input-group {
    margin-bottom: 1rem;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    background: transparent;
}

.input-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #fcfcfc;
    border-radius: 4px;
    font-size: 1rem;
    background: transparent;
}

.btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    border: none;
    color: rgb(247, 247, 247);
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.signup-link {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}